# Database
DB_USER=postgres
DB_PASSWORD=4096

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_in_production_min_256_bits_long
JWT_EXPIRES_IN=900000
JWT_REFRESH_EXPIRES_IN=604800000

# Server
PORT=8080

# Cloudinary (mêmes clés que Node.js)
CLOUDINARY_CLOUD_NAME=dfrih870v
CLOUDINARY_API_KEY=548975784295799
CLOUDINARY_API_SECRET=NC9aYFrzBEaoDNiNQYzXJeZ98WM

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=kseme277@gmail.com
EMAIL_PASSWORD=tegt pkti nosl gjhy
EMAIL_FROM=IUSJC Schedule <noreply@iusjc.cm>

# Admin par défaut
DEFAULT_ADMIN_EMAIL=admin@iusjc.cm
DEFAULT_ADMIN_PASSWORD=Admin123!@#
DEFAULT_ADMIN_FIRSTNAME=Super
DEFAULT_ADMIN_LASTNAME=Admin

# Sécurité
BCRYPT_ROUNDS=12
2FA_CODE_EXPIRY_MINUTES=10
MAX_LOGIN_ATTEMPTS=3
LOCKOUT_TIME_MINUTES=30
MAX_2FA_ATTEMPTS=3

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://localhost:3000
